body{
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
.logo{
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}
a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: red;
}
.banner-area{
    position: relative;
    background-image: url(AMHbilder/Ask\ meninghetshus\ 1.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.historie-area, .utleie-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-display: row;
    width: 100%;
    height: 800px;
}
#historie{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(AMHbilder/Historie3.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
#utleie{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(AMHbilder/Inne1.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    font-weight: 550;
}
.text-part{
    width: 65%;
    height: 80%;
    opacity: 1;
}
h1{
    font-size: 50px;
    font-family: unset;
}
p{
    font-size: 24px;
    line-height: 50px;
    color: black;
    font-weight: 00;
}
html{
    scroll-behavior: smooth;
}
.kontakt-area{
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f3f3f3;
    display: flex;
    justify-content: left;
    align-items: center; 
}  
.kontakt-boks{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #000000;
    max-width: 500px;
    line-height: 175px;
    padding-left: 50px;
    font-size: 40px;
}
.kontakt-boks i{
    margin-right: 20px;
    font-size: 45px;
}